@font-face {
    font-family: 'Yellvetica-Bold';
    src: url('/Yellvetica-bold.ttf');
}

@font-face {
    font-family: 'Yellvetica-Regular';
    src: url('/Yellvetica-regular.ttf');
}

* {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
    text-transform: uppercase;
    font-family: 'Yellvetica-bold', 'Helvetica';
	text-transform: uppercase;
	color:red;
    text-decoration: red;
}

img {
  width: 80px;  
}

html,body {
  height: 100%;
}

h1	{
	font-size: 96px;
	font-weight: 900;
}

h2	{
    font-family: 'Yellvetica-Regular', Helvetica;
	font-size: 12px;
	line-height: 32px;
	font-weight: 400;
}

h3	{
    font-family: 'Yellvetica-Bold', Helvetica;
	font-size: 14px;
	line-height: 18px;
	font-weight: 900;
}

h4 {
    font-family: 'Yellvetica-Regular', Helvetica;
	font-size: 12px;
	line-height: 18px;
	font-weight: 400;
}

p	{
    font-family: 'Yellvetica-Regular', Helvetica;
	font-size: 9px;
	line-height: 14px;
	font-weight: 400;
}

.container {
	max-width: 960px;
}

#header {
	text-align: center;
	width: 100%vh;
}

#usp {
	text-align: center;
}

.btn {
	text-transform: uppercase;
	font-size: 14px;
	border: 1px solid red;
	border-radius: 0px;
	background-color: white;
	color: red;
}

.btn:hover {
	border: 1px solid red;
	border-radius: 0px;
	background-color: red;
	color: white;
}

.btn:active, .btn:focus {
	box-shadow: red;
	border: 1px solid red;
	border-radius: 0px;
	background-color: red;
	color: white;
}
