@font-face {
    font-family: 'Yellvetica-Bold';
    src: url(Yellvetica-bold.ttf);
}

@font-face {
    font-family: 'Yellvetica-Regular';
    src: url(Yellvetica-regular.ttf);
}

.divider {
	margin-top: 80px;
	margin-bottom: 80px;
}

.container {
	max-width: 960px;
}

#header {
	text-align: center;
	width: 100%vh;
}

#usp {
	background-color: red;
	color: white;
	text-align: center;
}

#slideshow {
	background-color: red;
	color: white;
}

.slidetext {
    padding-top: 32px;
    padding-left: 16px;
}

.line {
    border-bottom: 1px solid white;
    width: 160px;
}

#footer {
	background-color: red;
	color: white;
}

#rt-29d9a0a7f720136353c57327955eecc5 {
	height:600px;

}

.lottie {
    height:100%;
}


html,body {
  height: 100%;
}

body {
	font-family: 'Yellvetica-bold';
	text-transform: uppercase;
	color:red;
}

h1	{
	font-size: 96px;
	font-weight: 900;
}

h2	{
	font-size: 48px;
	font-weight: 900;
	line-height: 72px;
}

h3	{
	font-size: 16px;
	line-height: 32px;
	font-weight: 900;
}

h4 {
    font-size: 14px;
	line-height: 24px;
	font-weight: 900;
}

p	{
    font-family: 'Yellvetica-Regular';
	font-size: 12px;
	line-height: 32px;
	font-weight: 400;
}

.btn {
	text-transform: uppercase;
	font-size: 14px;
	border: 1px solid red;
	border-radius: 0px;
	background-color: white;
	color: red;
}

.btn:hover {
	border: 1px solid red;
	border-radius: 0px;
	background-color: red;
	color: white;
}

.btn:active, .btn:focus {
	box-shadow: red;
	border: 1px solid red;
	border-radius: 0px;
	background-color: red;
	color: white;
}
